Introduction to Pandas

Pandas, coined from "Panel Data" and "Python Data Analysis". Pandas is a powerful open-source library in Python for data manipulation and analysis. It provides data structures and functions to efficiently handle structured data, including tabular data such as spreadsheets and SQL tables. Pandas make it easy to handle data in various formats, such as CSV, Excel, SQL databases, and JSON, with a high-level API for complex operations.

Using Series in Pandas
A Pandas Series is a one-dimensional array-like object that can hold data of any type (integers, strings, floats, etc.). It is similar to a list or an array in Python but comes with additional functionalities, such as labeled indexing. You can create a Series from a list, dictionary, or scalar value.

In [28]:
# import pandas: import pandas as pd
# Syntax for creating pandas series: pandas.Series(data,index,dtype,copy)

In [9]:
import pandas as pd

# Creating a Series
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [24]:
# Creating a Series
my_list = [10, 20, 30, 40]
# or
# my_list = (10, 20, 30, 40)
s = pd.Series(my_list)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
# Creating a Series from numpy array
import numpy as np
my_list = np.array([10, 20, 30, 40])
s = pd.Series(my_list)
print(s)

0    10
1    20
2    30
3    40
dtype: int32

In [17]:
# Creating series with index
data = [1, 2, 3, 4, 5]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [40]:
# Creating series from dictionary
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
series = pd.Series(data)

print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [29]:
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
index = ['x', 'y', 'z', 'w']

print(list(data.values()))
series = pd.Series(data=list(data.values()), index=index)

print(series)

[1, 2, 3, 4]
x    1
y    2
z    3
w    4
dtype: int64

In [56]:
# Creating series using scalar value
# Scalar value
scalar_value = 5

# Index list
index = ['a', 'b', 'c', 'd']

# Creating the Series
series = pd.Series(scalar_value, index=index)

print(series)

a    5
b    5
c    5
d    5
dtype: int64

In [37]:
# Accessing elements by position
s = pd.Series([10, 20, 30, 40, 50])
print(f"The item at index 1 in series s is {s[1]}")

The item at index 1 in series s is 20

In [41]:
# Accessing first 3 elements
print(s[:3])

0    10
1    20
2    30
dtype: int64

In [43]:
# Accessing first 3 elements
# integer-location based indexing
print(s.iloc[:3])

0    10
1    20
2    30
dtype: int64

In [77]:
# Accessing last 3 elements
print(s.iloc[-3:])

2    30
3    40
4    50
dtype: int64

In [96]:
# Accessing last 3 elements
print(s.iloc[-3:])

2    30
3    40
4    50
dtype: int64

In [7]:
# Accessing elements using label
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
series = pd.Series(data)
print(f"The item at label b in series is {series['b']}")

The item at label b in series is 2

In [9]:
print(series['a'])

1

A DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It's similar to an Excel spreadsheet or a table in a relational database.

Creating a DataFrame:

In [9]:
data = {'Name': ['John', 'Mary', 'David', 'Jane'],
        'Age': [25, 31, 42, 28],
        'Score': [90, 85, 78, 92]}
df = pd.DataFrame(data)
print(df)

    Name  Age  Score
0   John   25     90
1   Mary   31     85
2  David   42     78
3   Jane   28     92

The head() function is used to display the first few rows of a DataFrame, while the tail() function is used to display the last few rows.

In [17]:
data = {'Name': ['John', 'Mary', 'David', 'Jane', 'Bob', 'Alice'],
        'Age': [25, 31, 42, 28, 35, 40],
        'Score': [90, 85, 78, 92, 88, 95]}
df = pd.DataFrame(data)

print("Head\n")
print(df.head(3))  # display first 3 rows else display first 5 rows
print("\nTail\n")
print(df.tail(2))  # display last 2 rows else displays last 5 rows

Head

    Name  Age  Score
0   John   25     90
1   Mary   31     85
2  David   42     78

Tail

    Name  Age  Score
4    Bob   35     88
5  Alice   40     95

Attributes in DataFrame

A DataFrame has several attributes that provide information about the data.

In [19]:
data = {'Name': ['John', 'Mary', 'David', 'Jane', 'Alice'],
        'Age': [25, 31, 42, 28, 29],
        'Score': [90, 85, 78, 92, 95]}
df = pd.DataFrame(data)

print(df.shape)
print(df.size)
print(df.columns)
print(df.index)

(5, 3)
15
Index(['Name', 'Age', 'Score'], dtype='object')
RangeIndex(start=0, stop=5, step=1)

Working with Missing Data

Pandas provides several ways to handle missing data, including detecting missing values, dropping rows or columns with missing values, and filling missing values.

Detecting Missing Values:

In [7]:
import numpy as np

data = {'Name': ['John', 'Mary', "Hari", 'Jane'],
        'Age': [25, 31, 42, 28],
        'Score': [90, np.nan, 78, 92]}
df = pd.DataFrame(data)

print(df.isnull().sum())  # count of missing values in each column

Name     0
Age      0
Score    1
dtype: int64

In [43]:
# Dropping Rows or Columns with Missing Values:
# df.dropna()  # drop rows with missing values
df.dropna(axis=1)  # drop columns with missing values

   Name  Age
0  John   25
1  Mary   31
2  Hari   42
3  Jane   28

In [32]:
data = {'Name': ['John', 'Mary', None , 'Jane'],
        'Age': [25, 31, 42, 28],
        'Score': [90, np.nan, 78, 92]}
df = pd.DataFrame(data)

# df.fillna('Unknown')  # fill missing values with 'Unknown'
# df.fillna(df.mean())  # fill missing values with mean of column
df['Score'] = df['Score'].fillna(df['Score'].mean())
df['Name'] = df['Name'].fillna("Hari")

In [34]:
print(df)

   Name  Age      Score
0  John   25  90.000000
1  Mary   31  86.666667
2  Hari   42  78.000000
3  Jane   28  92.000000

Indexing in DataFrame

Indexing in Pandas allows you to access specific rows and columns of a DataFrame using label-based indexing or integer-based indexing.

Label-Based Indexing:

In [44]:
import pandas as pd

data = {'Name': ['John', 'Mary', 'David', 'Jane'],
        'Age': [25, 31, 42, 28],
        'Score': [90, 85, 78, 92]}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])

print(df.loc['a'])  # access row with label 'a'
print("\n")
print(df.loc[['a', 'c']])  # access rows with labels 'a' and 'c'
print("\n")
print(df.loc[:, 'Name'])  # access column 'Name'
print("\n")
print(df.loc[:, 'Age'])  # access column 'Age'

Name     John
Age        25
Score      90
Name: a, dtype: object


    Name  Age  Score
a   John   25     90
c  David   42     78


a     John
b     Mary
c    David
d     Jane
Name: Name, dtype: object


a    25
b    31
c    42
d    28
Name: Age, dtype: int64

In [13]:
# intiger based indexing
data = {'Name': ['John', 'Mary', 'David', 'Jane'],
        'Age': [25, 31, 42, 28],
        'Score': [90, 85, 78, 92]}
df = pd.DataFrame(data)

print(df.iloc[0])  # access first row
print(df.iloc[[0, 2]])  # access first and third rows
print(df.iloc[:, 0])  # access first column

Name     John
Age        25
Score      90
Name: 0, dtype: object
    Name  Age  Score
0   John   25     90
2  David   42     78
0     John
1     Mary
2    David
3     Jane
Name: Name, dtype: object

In [25]:
# Slicing in DataFrame

# Slicing in Pandas allows you to extract a subset of rows and columns 
# from a DataFrame.

import pandas as pd

data = {'Name': ['John', 'Mary', 'David', 'Jane'],
        'Age': [25, 31, 42, 28],
        'Score': [90, 85, 78, 92]}
df = pd.DataFrame(data)

print(df.loc[1:2, 'Name':'Score'])  
# slice rows 1 and 2, columns 'Name' to 'Score'

    Name  Age  Score
1   Mary   31     85
2  David   42     78

In [50]:
# Subsetting a DataFrame involves selecting a 
# subset of rows and columns based on conditions.

import pandas as pd

data = {'Name': ['John', 'Mary', 'David', 'Jane'],
        'Age': [25, 31, 42, 28],
        'Score': [90, 85, 78, 92]}
df = pd.DataFrame(data)

print(df[df['Age'] > 30])  # subset rows where 'Age' is greater than 30
print(df.query('Age > 30'))  # subset rows where 'Age' is greater than 30

print(df[df['Score'] >= 90])  # subset rows where 'Age' is greater than 30
print(df.query('Score >= 90'))  # subset rows where 'Age' is greater than 30

    Name  Age  Score
1   Mary   31     85
2  David   42     78
    Name  Age  Score
1   Mary   31     85
2  David   42     78
   Name  Age  Score
0  John   25     90
3  Jane   28     92
   Name  Age  Score
0  John   25     90
3  Jane   28     92

In [37]:
# Pandas provides several functions to merge and join DataFrames, 
# including merge(), join(), and concat().

import pandas as pd

df1 = pd.DataFrame({'Name': ['John', 'Mary', 'David'],
                    'Age': [25, 31, 42]})
df2 = pd.DataFrame({'Name': ['John', 'Mary', 'Jane'],
                    'Score': [90, 85, 92]})

print(pd.merge(df1, df2, on='Name'))  # merge on 'Name' column
# print(df1.join(df2, on='Name'))  # join on 'Name' column
print("\n")
print(pd.concat([df1, df2], axis=0))  # concatenate DataFrames

   Name  Age  Score
0  John   25     90
1  Mary   31     85


    Name   Age  Score
0   John  25.0    NaN
1   Mary  31.0    NaN
2  David  42.0    NaN
0   John   NaN   90.0
1   Mary   NaN   85.0
2   Jane   NaN   92.0

# Joins in Pandas

1. Inner Join
An inner join returns only the rows that have a match in both the left and right DataFrames. It's like finding the intersection of two sets.

In [60]:
left_df = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
right_df = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})

inner_join = pd.merge(left_df, right_df, on='key', how='inner')
print(inner_join)

  key  value_x  value_y
0   A        1        4
1   B        2        5

2. Left Join

A left join returns all the rows from the left DataFrame and the matching rows from the right DataFrame. If there's no match, the result will contain NaN values.

In [67]:
left_join = pd.merge(left_df, right_df, on='key', how='left')
print(left_join)

  key  value_x  value_y
0   A        1      4.0
1   B        2      5.0
2   C        3      NaN

3. Right Join

A right join is similar to a left join, but it returns all the rows from the right DataFrame and the matching rows from the left DataFrame.

In [72]:
right_join = pd.merge(left_df, right_df, on='key', how='right')
print(right_join)

  key  value_x  value_y
0   A      1.0        4
1   B      2.0        5
2   D      NaN        6

4. Outer Join

An outer join returns all rows from both DataFrames, with NaN values where there's no match.

In [77]:
outer_join = pd.merge(left_df, right_df, on='key', how='outer')
print(outer_join)

  key  value_x  value_y
0   A      1.0      4.0
1   B      2.0      5.0
2   C      3.0      NaN
3   D      NaN      6.0

Working with CSV files

1. Reading a CSV file

You can read a CSV file into a pandas DataFrame using the read_csv function:

In [7]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.head())  # print the first few rows of the DataFrame

    name  age        city
0    Ram   25      Dharan
1  Shyam   31     Itahari
2   Hari   42      Duhabi
3   Gita   28  Biratnagar

2. Writing a CSV file

You can write a pandas DataFrame to a CSV file using the to_csv method:

In [17]:
df.to_csv('output1.csv', index=False)  # write the DataFrame to a CSV file

df = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
df.to_csv('output1.csv', index=False)

3. Reading a CSV file with options

You can specify various options when reading a CSV file, such as:

header: whether the first row is a header row (default is None, which means pandas will try to infer)
sep: the separator character (default is ,)
na_values: a list of values to be treated as missing (default is ['NA', 'None', 'nan'])
parse_dates: a list of columns to parse as dates

In [23]:
df = pd.read_csv('data1.csv', header=0, sep=',', na_values=['NA'], parse_dates=['date'])

In [25]:
print(df)

    name  age     city                      date
0    Ram   25   Dharan 2023-01-20 00:00:00+00:00
1  Shyam   31  Itahari 2023-01-20 00:00:00+00:00
2   Hari   42   Duhabi 2023-01-20 00:00:00+00:00
3   Gita   28      NaN 2023-01-20 00:00:00+00:00

In [119]:
# Read the JSON file
df_json = pd.read_json('data.json')
print(df_json)

    name  age        city
0    Ram   25      Dharan
1  Shyam   31     Itahari
2   Hari   42      Duhabi
3   Gita   28  Biratnagar

In [39]:
# Create a DataFrame from the CSV data
df = pd.DataFrame({
    'name': ['Ram', 'Shyam', 'Hari', 'Gita'],
    'age': [25, 31, 42, 28],
    'city': ['Dharan', 'Itahari', 'Duhabi', 'Biratnagar']
})

# Convert the DataFrame to JSON
json_data = df.to_json(orient='table')

print(json_data)

# print dataframe to json file
df.to_json('output1.json', orient='table', indent=4)

{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"name","type":"string"},{"name":"age","type":"integer"},{"name":"city","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"name":"Ram","age":25,"city":"Dharan"},{"index":1,"name":"Shyam","age":31,"city":"Itahari"},{"index":2,"name":"Hari","age":42,"city":"Duhabi"},{"index":3,"name":"Gita","age":28,"city":"Biratnagar"}]}

In Pandas, the orient parameter in the to_json() method can take several values, each producing a different JSON data structure. Here are some of the other possible values for orient:

1. orient='split': This is the default orientation. It produces a JSON object with three keys: data, index, and columns. The data key contains an array of values, the index key contains an array of index values, and the columns key contains an array of column names.
2. 
orient='records': As we discussed earlier, this produces a JSON array of objects, where each object represents a single row of the DataFrame
3. orient='index': This produces a JSON object with key-value pairs, where the keys are the index values and the values are objects containing the column values.
4. orient='table': This produces a JSON object with a single key-value pair, where the key is the string "data" and the value is an object containing the column names and values.
5. orient='columns': This produces a JSON object with key-value pairs, where the keys are the column names and the values are arrays of values.
6. orient='values': This produces a JSON array of arrays, where each inner array represents a row of the DataFrame.

.

In [27]:
print(df.to_json(orient='split', indent=0))

{"columns":["name","age","city"],"index":[0,1,2,3],"data":[["Ram",25,"Dharan"],["Shyam",31,"Itahari"],["Hari",42,"Duhabi"],["Gita",28,"Biratnagar"]]}

In [29]:
print(df.to_json(orient='records', indent=0))

[{"name":"Ram","age":25,"city":"Dharan"},{"name":"Shyam","age":31,"city":"Itahari"},{"name":"Hari","age":42,"city":"Duhabi"},{"name":"Gita","age":28,"city":"Biratnagar"}]

In [31]:
print(df.to_json(orient='index', indent=0))

{"0":{"name":"Ram","age":25,"city":"Dharan"},"1":{"name":"Shyam","age":31,"city":"Itahari"},"2":{"name":"Hari","age":42,"city":"Duhabi"},"3":{"name":"Gita","age":28,"city":"Biratnagar"}}

In [35]:
print(df.to_json(orient='table', indent=0))

{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"name","type":"string"},{"name":"age","type":"integer"},{"name":"city","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"name":"Ram","age":25,"city":"Dharan"},{"index":1,"name":"Shyam","age":31,"city":"Itahari"},{"index":2,"name":"Hari","age":42,"city":"Duhabi"},{"index":3,"name":"Gita","age":28,"city":"Biratnagar"}]}

In [41]:
print(df.to_json(orient='columns', indent=0))

{"name":{"0":"Ram","1":"Shyam","2":"Hari","3":"Gita"},"age":{"0":25,"1":31,"2":42,"3":28},"city":{"0":"Dharan","1":"Itahari","2":"Duhabi","3":"Biratnagar"}}

In [39]:
print(df.to_json(orient='values'))

[["Ram",25,"Dharan"],["Shyam",31,"Itahari"],["Hari",42,"Duhabi"],["Gita",28,"Biratnagar"]]